@font-face {
    font-family: 'Harry Potter';
    src: url(./fonts/HARRP___.TTF);
}


header {
    background-color: rgba(216, 24, 24, .75);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
}

header span {
    color: white;
    padding: 9px 20px;
    background-color: rgba(0,136,255,10);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: auto;
    height: fit-content;
}

header button:hover {
    background-color: rgb(22, 21, 133);

}

h2 {
    font-family: 'Harry Potter', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    width: max-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}


body {
    background-image: url("hogwarts-background.png");
    background-color: rgba(237, 238, 238, 0.349);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-position: center;
}










#main-image {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-display {
    text-align: center;
}


#main-display ul{
    background-color: rgb(255, 168, 168);
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#main-display button {
    color: white;
  padding: 9px 25px;
  background-color: rgba(0,136,255,10);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

#main-display button:hover {
    background-color: rgb(22, 21, 133);
}


#main-display h3 {
    font-family: 'Harry Potter', sans-serif;
    color: rgb(0, 0, 0);
    font-size: x-large;
    background-color: rgb(255, 168, 168);
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* #main-display ul {
    font-family: 'Harry Potter', sans-serif;
    color: rgb(0, 0, 0);
    font-size: x-large;
} */